<!DOCTYPE html>
<html lang="de">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" href="https://hannover.freifunk.net/favicon.ico">
	<title>Freifunk Hannover – Blog</title>
	<link href="https://hannover.freifunk.net/style.css" rel="stylesheet">
	<link href="https://hannover.freifunk.net/blog/blog.css" rel="stylesheet">
</head>

<body>
	<nav>
		<a href="/" id="titlelink">hannover.freifunk.net</a>
		<ul id="menu-wide">
			<li><a href="https://hannover.freifunk.net/karte/">Karte</a></li>
			<li><a href="https://hannover.freifunk.net/wiki/Freifunk/WebHome">Wiki</a></li>
			<li><a href="https://hannover.freifunk.net/download/">Download</a></li>
			<li><a href="https://hannover.freifunk.net/wiki/Freifunk/Unterstuetzer">Unterstützer</a></li>
			<li><a href="https://stats.ffh.zone/d/L9p06EYWk/supernodes-totals">Statistiken</a></li>
			<li><a href="https://hannover.freifunk.net/wiki/Freifunk/Chat">Webchat</a></li>
			<li><a href="https://hannover.freifunk.net/friedhof/">Friedhof</a></li>
			<li><a href="https://hannover.freifunk.net/wiki/Freifunk/Kontakt">Kontakt</a></li>
		</ul>
		<details id="menu-narrow">
			<summary>
				<img src="https://hannover.freifunk.net/img/burger.svg">
			</summary>
			<ul>
				<li><a href="https://hannover.freifunk.net/karte/">Karte</a></li>
				<li><a href="https://hannover.freifunk.net/wiki/Freifunk/WebHome">Wiki</a></li>
				<li><a href="https://hannover.freifunk.net/download/">Download</a></li>
				<li><a href="https://hannover.freifunk.net/wiki/Freifunk/Unterstuetzer">Unterstützer</a></li>
				<li><a href="https://stats.ffh.zone/d/L9p06EYWk/supernodes-totals">Statistiken</a></li>
				<li><a href="https://hannover.freifunk.net/wiki/Freifunk/Chat">Webchat</a></li>
				<li><a href="https://hannover.freifunk.net/friedhof/">Friedhof</a></li>
				<li><a href="https://hannover.freifunk.net/wiki/Freifunk/Kontakt">Kontakt</a></li>
			</ul>
		</details>
	</nav>


	<header>
		<div>
			<h1>Freifunk Hannover</h1>
			<p>Freies WLAN in und um Hannover – mach mit!</p>
			<a class="button button-blue" href="https://hannover.freifunk.net/wiki/Freifunk/Mitmachen">Mitmachen &raquo;</a>
			<a class="button button-yellow" href="http://fnorden.net/#donations">Spenden &raquo;</a>
			<img src="https://hannover.freifunk.net/img/logo.svg">
		</div>
	</header>

	<main>
		<div id="content">
			<section class="section">
				<div class="container">
					{% block content %} {% endblock content %}
				</div>
			</section>
		</div>
	</main>

	<footer class="container">
		<p>
			Freifunk Hannover ist Dein von Störerhaftung befreites freies WLAN für ganz Hannover.
			<a href="https://hannover.freifunk.net/wiki/Freifunk/Impressum">Impressum</a>
		</p>
	</footer>

</body>
</html>
